<section class="product">
<h2><%= @product.name %></h2>

<%= image_tag @product.image.url(:medium) %>
<p><%= @product.description %></p>
<p>£<%= (@product.price_in_pence).to_f / 100 %></p>

<%= link_to "buy", new_product_order_path(@product), data: {turbolinks_track: false} %>

<p>For more information contact <%= mail_to @product.user.email %></p>
</section>

