<!DOCTYPE html>
<html>
<head>
  <title>Merch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav>
		<ul>
			<li><%= link_to "home", root_path %></li>
			<!-- only show the 'new' link if logged in -->
			<!-- if logged in ... -->
				<li><%= link_to "new planet", new_product_path %></li>
			<!-- else link to log in  -->
				<li><%= link_to "log in", "" %></li>
			<!-- end -->
		</ul>
	</nav>
</header>
<%= yield %>

</body>
</html>
