<!DOCTYPE html>
<html>
<head>
  <title>Merch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="border"></div>

<header>
	<nav>
	<%= link_to "home", root_path %></li>
<!-- only show the 'new' link if logged in -->
<!-- if logged in ... -->
	<%= link_to "new planet", new_product_path %></li>
<!-- else link to log in  -->
	<%= link_to "log in", "" %></li>
			<!-- end -->	
	</nav>
</header>
<% flash.each do |key,value| %>
	<p class="<%= key %>"><%= value %></p>
<% end %>
	
<%= yield %>

</body>
</html>
