<!DOCTYPE html>
<html>
<head>
  <title>Merch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="border"></div>

<header>
	<%= link_to root_path do %>
		<h1>Home</h1>
	<% end %>
	<!-- only show the 'new' link if logged in -->
	<!-- if logged in ... -->
	<div class="user-actions">
		<% if current_user? %>
			<%= link_to current_user.email, user_path(current_user) %>
			<%= link_to "new planet", new_product_path %>
			<%= link_to "log out", session_path, method: :delete %>
		<% else %>
			<!-- else link to log in  -->
			<%= link_to "log in", new_session_path %>
		<% end %>
	</div>

	
</header>
<% flash.each do |key,value| %>
	<p class="<%= key %>"><%= value %></p>
<% end %>
	
<%= yield %>

</body>
</html>
